.navbar{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    border-width: 10px;
}
.menuControl{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color: white;
    margin: 0;

}

.nav-item:hover{
    background-color: rgb(104,148,239);
}